{{!-- NAVBAR --}}
<nav class="layout-navbar navbar navbar-expand-xl align-items-center" id="layout-navbar">
  <div class="container-xxl">
    <!-- Brand -->
    <div class="navbar-brand app-brand d-none d-xl-flex py-0 me-4 ms-0">
      <a href="/" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img src="/assets/img/favicon/favicon.ico" alt="logo" width="32" height="32"/>
        </span>
        <span class="app-brand-text demo menu-text fw-bold text-heading">Form Maker</span>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="icon-base ti tabler-x icon-sm d-flex align-items-center justify-content-center"></i>
      </a>
    </div>

    <!-- Mobile menu toggle -->
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
        <i class="icon-base ti tabler-menu-2 icon-md"></i>
      </a>
    </div>

    <!-- Right side -->
    <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
      <ul class="navbar-nav flex-row align-items-center ms-md-auto">

        {{!-- User --}}
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              <img src="/assets/img/avatars/1.png" alt class="rounded-circle" />
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item mt-0" href="#">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-2">
                    <div class="avatar avatar-online">
                      <img src="/assets/img/avatars/1.png" alt class="rounded-circle" />
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="mb-0">John Doe</h6>
                    <small class="text-body-secondary">Admin</small>
                  </div>
                </div>
              </a>
            </li>
            <li><div class="dropdown-divider my-1 mx-n2"></div></li>
            <li><a class="dropdown-item" href="#"><i class="icon-base ti tabler-user me-3 icon-md"></i>My Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="icon-base ti tabler-settings me-3 icon-md"></i>Settings</a></li>
            <li><div class="d-grid px-2 pt-2 pb-1"><a class="btn btn-sm btn-danger d-flex" href="#"><small>Logout</small><i class="icon-base ti tabler-logout ms-2 icon-14px"></i></a></div></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{!-- HORIZONTAL MENU --}}
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu flex-grow-0">
  <div class="container-xxl d-flex h-100">
    <ul class="menu-inner">
      {{!-- LEVEL 1 --}}
      {{#each menu}}
        <li class="menu-item {{#if (isActive href ../currentPath)}}active{{/if}}">
          {{#if children}}
            <a href="javascript:void(0)" class="menu-link menu-toggle">
              {{#if icon}}<i class="menu-icon icon-base {{icon}}"></i>{{/if}}
              <div>{{label}}</div>
            </a>
            <ul class="menu-sub">
              {{!-- LEVEL 2 --}}
              {{#each children}}
                <li class="menu-item {{#if (isActive href ../../../currentPath)}}active{{/if}}">
                  {{#if children}}
                    <a href="javascript:void(0)" class="menu-link menu-toggle">
                      {{#if icon}}<i class="menu-icon icon-base {{icon}}"></i>{{/if}}
                      <div>{{label}}</div>
                    </a>
                    <ul class="menu-sub">
                      {{!-- LEVEL 3 --}}
                      {{#each children}}
                        <li class="menu-item {{#if (isActive href ../../../../currentPath)}}active{{/if}}">
                          <a href="{{href}}" class="menu-link">
                            {{#if icon}}<i class="menu-icon icon-base {{icon}}"></i>{{/if}}
                            <div>{{label}}</div>
                          </a>
                        </li>
                      {{/each}}
                    </ul>
                  {{else}}
                    <a href="{{href}}" class="menu-link">
                      {{#if icon}}<i class="menu-icon icon-base {{icon}}"></i>{{/if}}
                      <div>{{label}}</div>
                    </a>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          {{else}}
            <a href="{{href}}" class="menu-link">
              {{#if icon}}<i class="menu-icon icon-base {{icon}}"></i>{{/if}}
              <div>{{label}}</div>
            </a>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</aside>
